.Search {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 6%;
  width: 100%;
}

.Search:focus,
textarea {
  outline: none !important;
}
