.Display {
  height: 80%;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  background: white;

  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  padding: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  transform: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
